@model TryCatch.WebShop.Models.Article

@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>Article</legend>
    <div class="article-field">@Html.DisplayNameFor(model => model.Name): 
        <span class="article-field-value"> @Html.DisplayFor(model => model.Name)</span>
    </div>
    <div class="article-field">@Html.DisplayNameFor(model => model.Price): 
        <span class="article-field-value"> @Html.DisplayFor(model => model.Price)</span>
    </div>
    <div class="article-field">@Html.DisplayNameFor(model => model.Description): 
        <span class="article-field-value"> @Html.DisplayFor(model => model.Description)</span>
    </div>
    <div class="article-field">@Html.DisplayNameFor(model => model.Author): 
        <span class="article-field-value"> @Html.DisplayFor(model => model.Author)</span>
    </div>
    <div class="article-field">@Html.DisplayNameFor(model => model.Publisher): 
        <span class="article-field-value"> @Html.DisplayFor(model => model.Name)</span>
    </div>
</fieldset>

<div class="navigation-buttons">
    @Html.ActionLink("Back to List", "Index", null, new{ @class = "btn  btn-primary"})
    <a href="#" class="AddLink btn btn-primary" data-id="@Model.ArticleId">Add to cart</a>
</div>
<script type="text/javascript">
    $(function () {
        $(".AddLink").click(function () {
            var articleToAdd = $(this).attr("data-id");
            if (articleToAdd != '') {
                $.post("/ShoppingCart/AddToCart", { "id": articleToAdd },
                    function (data) {
                        if (data.IsSuccessful == true) {
                            $('#cart-items').fadeOut('slow').fadeIn('slow');
                        } else {
                            alert(data.ErrorMessage);
                        }
                        $("#cart-items").text("Cart (" + data.ItemsInCart + ")");
                    });
            }
        });
    });
</script>

