@using PagedList.Mvc
@model PagedList.PagedList<TryCatch.WebShop.Models.Article>

@Scripts.Render("~/Scripts/jquery-1.8.2.min.js")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")

<table>
    <tr>
        <th>Name
        </th>
        <th>Author
        </th>
        <th>Price
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="row-@item.ArticleId">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ArticleId })|
                <a href="#" class="AddLink" data-id="@item.ArticleId">Add to cart</a>
            </td>
        </tr>
    }
</table>

<div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "listOfArticles" }))
</div>
<script type="text/javascript">
    $(function () {
        $(".AddLink").click(function () {
            var articleToAdd = $(this).attr("data-id");
            if (articleToAdd != '') {
                $.post("/ShoppingCart/AddToCart", { "id": articleToAdd },
                    function (data) {
                        if (data.IsSuccessful == true) {
                            $('#row-' + data.ArticleId).fadeOut('slow').fadeIn('slow');
                        } else {
                            alert(data.ErrorMessage);
                        }
                        $("#cart-items").text("Cart (" + data.ItemsInCart + ")");
                    });
            }
        });
    });
</script>
