@model TryCatch.WebShop.Models.ShoppingCart

@{
    ViewBag.Title = "Shopping Cart";
}

<h2>Your Cart</h2>

<table id="list-of-articles">
    <tr>
        <th>Name
        </th>
        <th>Author
        </th>
        <th>Price
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Items)
    {
        <tr id="row-@item.ArticleId">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Details", "Details","Article", new { id = item.ArticleId }, null)|
                <a href="#" class="RemoveLink" data-id="@item.ArticleId">Remove from cart</a>
            </td>
        </tr>
    }
</table>
@Html.ActionLink("Go to shop", "Index", "Article")
@Html.ActionLink("Checkout", "Create", "Checkout", null, new {id="checkout-link"})

<input type="hidden" id="items-in-cart" value="@Model.Items.Count">
<script>
    $(function () {
        $(".RemoveLink").click(function () {
            var articleToRemove = $(this).attr("data-id");
            if (articleToRemove != '') {
                $.post("/ShoppingCart/RemoveFromCart", { "id": articleToRemove },
                    function (data) {
                        if (data.IsSuccessful == true) {
                            $('#row-' + data.ArticleId).fadeOut('slow');
                        } else {
                            $('#error-message').text(data.ErrorMessage);
                        }
                        $("#cart-items").text("Cart (" + data.ItemsInCart + ")");

                        hideShowListOfArticlesAndCheckoutLink(data.ItemsInCart < 1);
                    });
            }
        });
    });
    $(function () {
        var items = $("#items-in-cart").val();
        hideShowListOfArticlesAndCheckoutLink(items < 1);
    });

    function hideShowListOfArticlesAndCheckoutLink(doHide) {
        if (doHide) {
            $('#checkout-link').hide();
            $('#list-of-articles').hide();
        } else {
            $('#checkout-link').show();
            $('#list-of-articles').show();
        }
    }
</script>

