<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", false)
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h3 class="pull-right">@Html.Partial("CartInfo")</h3>
            <h2 class="text-muted">Web Shop</h2>
            <p>@Html.ActionLink("Articles Overview", "ArticlesOverview", "Article")</p>
        </div>
        <div id="body" class="container">
            <section>
                @RenderBody()
            </section>
        </div>
        <hr />
        <div id="footer">
            <div class="container">
                <p class="text-muted">&copy; @DateTime.Now.Year - Design and devloped by Rostyslav Skarbek.</p>
            </div>
        </div>
    </div>
</body>
</html>
