@model TryCatch.WebShop.ViewModels.CheckoutArticlesViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Choosen items</h2>

<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>Article
        </th>
        <th>Price
        </th>
    </tr>

    @foreach (var item in Model.Articles)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>
    }
</table>
<fieldset>
<legend>Price</legend>
    <div>Total excl. VAT: <span class="price-value">@Html.DisplayFor(model => model.TotalPriceExcludingVat)</span></div>
    <div>Total incl. VAT: <span class="price-value">@Html.DisplayFor(model => model.TotalPriceIncludingVat)</span></div>
    <div>Total VAT: <span class="price-value">@Html.DisplayFor(model => model.TotalVat)</span></div>
</fieldset>
<div class="navigation-buttons">
    @Html.ActionLink("Back to cart", "Index", "ShoppingCart", null, new { @class = "btn  btn-primary" })
    @Html.ActionLink("Next", "Register", "Checkout", null, new { @class = "btn  btn-primary" })
</div>
